.technology-ticker-section-left {
  animation: technologyTickerScrollLeft 30s linear infinite;
}

.technology-ticker-section-right {
  animation: technologyTickerScrollRight 30s linear infinite;
}

@keyframes technologyTickerScrollLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100% - calc(var(--spacing) * 7)));
  }
}

@keyframes technologyTickerScrollRight {
  0% {
    transform: translateX(calc(-100% - calc(var(--spacing) * 7)));
  }

  100% {
    transform: translateX(0);
  }
}


.bg-grid-pattern {
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.03) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.03) 1px, transparent 1px);
  background-size: 20px 20px;
}